# Problem 1

In [1]:
locusgene=open("LocusGene.tsv", "r")
locusgene.seek(0)

#A loop is generated that covers all the lines of the file previously opened.

for line in locusgene.readlines():
    line = line.rstrip() #To eliminate the character of new line, \n
    Locus, Gene, ProteinLength=line.split("\t") #Each line is splitted and the information contained is stored in three variables because the file contains three columns
    LocusInLocusGeneFile=Locus #The information contained in the first column is kept in a new variable for the comparison


locusgene.close()

#The same procedure is applied for the next file

germplasm=open("Germplasm.tsv", "r")
germplasm.seek(0)

for line in germplasm.readlines():
    line = line.rstrip()
    Locus, Germplasm, Phenotype, Pubmed = line.split('\t')
    LocusInGermplasmFile=Locus

germplasm.close()

#The operator "==" is used to compare the information contained in the first column of each file

LocusInLocusGeneFile == LocusInGermplasmFile

True

# Problem 2
On the terminal window the command 'docker start course-mysql' is executed to start running mysql.

In [2]:
#To install the extension sql Magic in the Jupyter notebook

%load_ext sql
%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [3]:
%sql create database exam_2;
%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('information_schema',),
 ('exam_2',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [4]:
%sql use exam_2;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [5]:
%sql show tables;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [6]:
#Both tables are created setting Locus as a primary key as each entry must have an unique Locus. 
#The maximum length of each type of data is established to make sure that all the information contained on the files is going to fit on the database. 

%sql CREATE TABLE LocusGene (Locus VARCHAR(20) PRIMARY KEY, Gene VARCHAR(20), ProteinLength INTEGER(10));
%sql CREATE TABLE Germplasm (Locus VARCHAR(20) PRIMARY KEY, Germplasm VARCHAR(50), Phenotype VARCHAR(500), Pubmed INTEGER(20));

#Both tables are already linked through the "Locus" column, defined as primary key as each entry must have an unique Locus

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [7]:
%sql DESCRIBE LocusGene;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[('Locus', 'varchar(20)', 'NO', 'PRI', None, ''),
 ('Gene', 'varchar(20)', 'YES', '', None, ''),
 ('ProteinLength', 'int(10)', 'YES', '', None, '')]

In [8]:
%sql DESCRIBE Germplasm;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('Locus', 'varchar(20)', 'NO', 'PRI', None, ''),
 ('Germplasm', 'varchar(50)', 'YES', '', None, ''),
 ('Phenotype', 'varchar(500)', 'YES', '', None, ''),
 ('Pubmed', 'int(20)', 'YES', '', None, '')]

# Problem 3

In [9]:
#First, it is necessary to write the commands to connect to mysql with python 

import pymysql.cursors
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='exam_2',
                             charset='utf8mb4',  
                             cursorclass=pymysql.cursors.DictCursor)


#Then, the first file is opened in a read mode and pointed to the beginning just in case it has been run.

locusgene = open("LocusGene.tsv", "r")
locusgene.seek(0)

#All the information contained in the file except the first line '[1:]' is transfered to locusgene_info.

locusgene_info=locusgene.readlines()[1:] 

#A loop is generated that covers from the first line until the last line which contains information
#A list is defined as the result of splitting each line.  Each list should have 3 elements in total (0, 1, 2)
#The elements of each list are transfered to a variable which will be inserted into the table of the database
#The insertion into the table is done establishing the command sql INSERT with the variables
#In order to do this, is necessary to define the variables and executing both the variables and the sql statement

for line in range(1,len(locusgene_info)): 
    eachlineinfo=locusgene_info[line].split("\t")
    locus=eachlineinfo[0]
    gene=eachlineinfo[1]
    proteinlength=eachlineinfo[2]
    try:
          with connection.cursor() as cursor:
            variables=(locus, gene, proteinlength)
            sql="INSERT INTO LocusGene (Locus, Gene, ProteinLength) VALUES (%s, %s, %s)"
            cursor.execute(sql,variables)
            connection.commit()
    except Exception as e:
        print(e)
    finally: 
        print("inserted")

locusgene.close()

inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted

In [10]:
#To check that the information has been correctly inserted into the table
%sql SELECT * FROM LocusGene;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
31 rows affected.

[('AT1G01060', 'LHY', 290),
 ('AT1G01140', 'CIPK9', 223),
 ('AT1G01220', 'FKGP', 190),
 ('AT2G03720', 'MRH6', 189),
 ('AT2G03800', 'GEK1', 196),
 ('AT2G04240', 'XERICO', 256),
 ('AT2G05210', 'POT1A', 221),
 ('AT3G02130', 'RPK2', 284),
 ('AT3G02140', 'TMAC2', 300),
 ('AT3G02230', 'RGP1', 301),
 ('AT3G02260', 'BIG', 279),
 ('AT3G02310', 'SEP2', 175),
 ('AT3G02680', 'NBS1', 190),
 ('AT3G02850', 'SKOR', 234),
 ('AT3G02870', 'VTC4', 311),
 ('AT3G03260', 'HDG8', 194),
 ('AT4G14790', 'SUV3', 312),
 ('AT4G15210', 'BAM5', 313),
 ('AT4G15560', 'DXS', 219),
 ('AT4G15570', 'MAA3', 294),
 ('AT4G15802', 'HSBP', 254),
 ('AT4G15880', 'ESD4', 265),
 ('AT4G16420', 'ADA2B', 279),
 ('AT4G16480', 'INT4', 284),
 ('AT5G10480', 'PAS2', 301),
 ('AT5G10510', 'AIL6', 310),
 ('AT5G11110', 'SPS2', 232),
 ('AT5G11260', 'HY5', 221),
 ('AT5G11510', 'MYB3R-4', 336),
 ('AT5G12200', 'PYD2', 310),
 ('AT5G13290', 'CRN', 189)]

In [11]:
#The same strategy is used for the second file

import pymysql.cursors
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='exam_2',
                             charset='utf8mb4',  
                             cursorclass=pymysql.cursors.DictCursor)



germplasm = open("Germplasm.tsv", "r")
germplasm.seek(0)

germplasm_info=germplasm.readlines()[1:] 



for line in range(1,len(germplasm_info)): 
    eachlineinfo=germplasm_info[line].split("\t")
    locus=eachlineinfo[0]
    germplasm=eachlineinfo[1]
    phenotype=eachlineinfo[2]    
    pubmed=eachlineinfo[3]
    try:
          with connection.cursor() as cursor:
            variables=(locus, germplasm, phenotype, pubmed)
            sql="INSERT INTO Germplasm (Locus, Germplasm, Phenotype, Pubmed) VALUES (%s, %s, %s, %s)"
            cursor.execute(sql,variables)
            connection.commit()
    except Exception as e:
        print(e)
    finally: 
        print("inserted")

inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted
inserted

# Problem 4